@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,400&family=Ubuntu:wght@300&family=Varela+Round&display=swap');


.moviedetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background: linear-gradient(to bottom, #141e30, #243b55);
    margin-bottom: 20px;
    padding:3px 3px;
  }
  
  .moviedetails img{
    max-width: 100%;
  max-height: 400px;
  margin-bottom: 30px;
  border-radius: 8px;
  border: 2px solid;

  }
  .moviedetails header{
    display: none;
  }
  .moviedetails h1{font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  

  .moviedetails  h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    background-image: (#553c9a, #ee4b2b, #00c2cb, #553c9a);
    

  }
  .movieDetails .summary {
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 20px;
    
  }

  
  .button {
    padding: 10px 20px;
    background-color: #3d5369;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 700px;
    margin-bottom: 20px;
    
  }
  
  .moviedetails button:hover {
    background-color: #0069d9;
  }